main {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 2rem;

  .titulo {
    font-size: 1rem;
    font-weight: bold;
  }

  .autor,
  .data {
    font-size: 0.75rem;
    color: #260101;
  }

  .link{
    text-decoration: none;
  }

}
