<app-loader *ngIf="isLoading"></app-loader>
<main class="container" *ngIf="!isLoading">
  <section class="row">
    <h1>Olá, Usuário</h1>
    <p>
      Bem vindo ao sistema de criação e resolução de formulários. Aqui você
      poderá criar formulários e gerenciar métricas do mesmo.
    </p>
  </section>

  <!-- Todo: Carrossel com informações do site. -->

  <section class="row">
    <p class="titulo">Formulários mais respondidos</p>

    <ol class="list-group">
      <ng-container *ngFor="let form of formularios; let i = index">
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ form.descricao }}</div>
            <span class="autor">Autor: {{ form.autor }}</span
            ><br />
            <span class="data">Data da Criação: {{ form.dtCriacao }}</span>
          </div>
          <span class="badge text-bg-primary rounded-pill">14</span>
        </li>
      </ng-container>
    </ol>
  </section>
</main>
