li {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;

  i {
    margin-right: 1rem;
  }
}

a {
  img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 1.875rem;
  }
}


button{
  margin-left: 1.5rem;
}